<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreImageTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>972BC8B71B3B94FF00BF2E01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>972BC8CB1B3B94FF00BF2E01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>972BC8D61B3B94FF00BF2E01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
